.page_content
	- if @editing
		%form{ :action => "", :method => "post"}
			%input{:type => "text", :name => "title",:value => "#{@page.title}", :class => "text_field", :style => "width:408px;"}
			%br
			%textarea{:name => "body", :style => "width:408px; height:460px;"}= @page.body
	- else
		- if @page.id
			%h2= @page.title
			%p= @page.formatted_body
		- else
			%h2= "No page found"

.edit
	- if @can_edit
		%a{:href => "/page/edit/#{@page.slug}"}
			%img{:src => "/images/fountainpen.gif", :border => 0}
	- elsif @can_delete
		%a{:href => "/page/delete/#{@page.slug}"}
			%img{:src => "/images/crossout.jpg", :border => 0}